<div>
    <fieldset class="form-group">
        <label>{{ 'name' | translate }}:</label>
        <input class="form-control" placeholder="{{ 'enter_name' | translate }}" [(ngModel)]="nom" >
        <br>
        <label>{{ 'categoria_pare' | translate }}:</label>
        <select class="form-control" [(ngModel)]="categoriaTemp">
            <option></option>
            <option *ngFor="let categoria of categorias" [ngValue]="categoria.id">{{categoria.nom}}</option>
        </select>
        <br>
    </fieldset>
    <div align="center">
        <button (click)="addCategoria()" class="btn btn-secondary colorAdd"><i class="fa fa-plus"></i> {{ 'add' | translate }}</button>
        <button (click)="cline()" class="btn btn-secondary colorCancel"><i class="fa fa-times"></i> {{ 'cline' | translate }}</button>
    </div>
</div>
<br>
<div>
    <p class="colorTextRed">{{errorText}}</p>
    <p class="colorTextGreen">{{succes}}</p>
</div>
