.anchoFull{
    width: 100%;
}

.ancho25{
    width: 25%;
    text-align: right;
}

.anchoQuantitat {
    width: 2ch;
    text-align: right;
}

.buttonMargin {
    margin-bottom: 1ch;
}

.totalPosition {
    margin-right: 2ch;
}

.colorWindowsGris{
    background-color: #B0BEC5;
}
