.anchoFull {
    width: 100%;
}

.separacion {
    padding-bottom: 2ch;
}

.colorWindowsVerde{
    background-color: #C5E1A5;
}

.colorWindowsAzul{
    background-color: #80DEEA;
}

.colorWindowsRojo{
    background-color: #EF9A9A;
}

.colorWindowsAmarillo{
    background-color: #FFF59D;
}

.colorWindowsLila{
    background-color: #CE93D8;
}

.colorWindowsGris{
    background-color: #B0BEC5;
}

.colorWindowsMarron{
    background-color: #BCAAA4;
}

.colorWindowsMarronOrange{
    background-color: #ffd08c;
}

.textWindowsRojo{
    color: red;
}

.warningColor{
    color: #ffd500;
}
