.colorCancel{
    background-color: #ff5b77;
    color: #FFFFFF;
}

.colorAdd{
    background-color: #00b3ee;
    color: #FFFFFF;
}

.colorTextGreen{
    color: green;
}

.colorTextRed{
    color: red;
}
